:root {
    --white: #FFFFFF;
    --blue: #3A2EC3;
    --cement: #DDDDDD;
    --harmony: #62A1FF;
    --glassBlue: #004CDF57;
    --button: #5E2EC3;
    --black: #000000;
    --gray: #727272;
    --darkGreen: #697175;
    --borderLine: #3A2EC3;
    --pale: #F5F4F6;
    --placeholderDark: #606268;
    --violet: #182035;
    --greenShadow: #F5822929;
    --whiteSmoke: #F8F8F8;
    --aliceBlue: #8833FF1A;
    --platinum: #E7E7E7;
    --timer: #502BC6;
    --offBlack: #263238;
    --cancel1: #AE2EC3;
    --cancel2: #C41F1B;
    --close: #777777;
    --border: #E3E3E3;
    --type: #AE2EC333;
    --delete: #FF3732;
    --vrline: #E4E4E4;
    --tab: #6B7A99;
    --speaker: #7EBE42;
    --yellow: #FFB800;
    --charcoal: #444444;
    --loginBorder:#E0E0E0;
    --newBorder:'#E6E3E3';
    --dateUpto:'#51B5FF';
    
}
