@import '../css/variables.css';

.time-picker {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--loginBorder);
}

.time-picker span {
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  font-family: "DM Sans", system-ui;
  user-select: none;
}

.time-picker-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hour-input,
.minute-input {
  font-size: .8rem;
  font-family: "DM Sans", system-ui;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--placeholderDark);
}

.separator {
  font-size: .8rem;
  color: var(--black);
}

.period-select {
  font-size: .8rem;
  font-family: "DM Sans", system-ui;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  color: var(--placeholderDark);
}

.clock-icon {
  width: 15px;
  height: 15px;
  padding-left: 10px;
}

.period-select::-ms-expand {
  display: none;
}

@media screen and (max-width: 425px) {

  .time-picker {
    width: 100%;
    gap: 5px;
  }

}

@media screen and (max-width: 375px) {

  .time-picker {
    width: 100%;
    gap: 5px;
  }

}