@import '../../components/css/variables.css';

.signup-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.signup-form{
    width: 50%;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 80px;
    /* background-color: aqua; */
}
.signup-head{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.signup-text {
    color: var(--black);
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}
.welcome-text {
    color: var(--gray);
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}
.form-details {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.name {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-bottom-width: 1px;
    border-bottom-color: var(--loginBorder);
    border-bottom-style: solid;
}
.phone {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-bottom-width: 1px;
    border-bottom-color: var(--loginBorder);
    border-bottom-style: solid;
}

.phone-input {
    width: 100%;
    background-color: white; 
    box-shadow: none; 
}

.phone-input:focus {
    border: none !important;
    outline: none !important
    
}
.name-text {
    color: var(--gray);
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}
.user-input {
    width: 100%;
    border: none;
    outline: none;
}
.check-box {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.check-box input {
    width: 18px;
    height: 18px;
    border-radius: 10px;

}

.check-box span {
    color: var(--darkGreen);
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}
.terms{
    color: var(--blue);
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}
.sign-up {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.sign-up span {
    color: var(--black);
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
}

.sign-up a {
    color: var(--blue);
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    font-family: "DM Sans", system-ui;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .login-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
    }
    .signup-container {
        width: 100%;
        min-height: 100px;
        display: flex;
    }
    .signup-form {
        padding-right: 10px;
        width: 90%;
        gap: 10px;
    }
}





@media screen and (max-width: 768px) {


    .signup-container {
        width: 100%;
        min-height: 100px;
        display: flex;
    }

    .signup-form {
        padding-right: 10px;
        width: 100%;
        gap: 10px;
    }

    .login-head {
        padding: 10px;
        display: flex;
        align-items: flex-start;
    }

    .form-details {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .sign-up {
        padding: 10px;
        padding-left: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}